body{
    padding: 30px;
    background:linear-gradient(150deg, #d7daff, #e6edff);
    font-family: monospace;
}

.okvir{
    max-width: 900px;
    background-color: rgb(25, 233, 10)
    border-radius 20px;
    padding: 32px;
    box-shadow: 14px 20px rgba(0,0,0,0.10);
}

h1{
    text-align: center;
    letter-spacing: 10px;
    text-transform: uppercase;
    font-size: 34px;
}

.podnaslov{
    text-align: center;
    font-size: 30px;
    line-height: 1.7;
    color: #2e5fb4;
}

.blok1{
    font-size: 15px;
    background-color: #e9fff5;
    border-radius: 20px;
    border: 1px solid #d7daff;
    padding: 10px;
    margin-bottom: 18px;
    font-weight: bold;
    color: #0b7a55;
    background-color: rgba(11, 122,88,0. 14);
    padding: 7px;
    border-radius: 8px;

}

.blok2{
    font-size: 15px;
    background:linear-gradient(90deg, #7ee0b2, #c8ffe8);
    border-radius: 20px;
    border: 1px solid #d7daff;
    padding: 10px;
    margin-bottom: 20px;
}

.blok3{
    font-size: 15px;
    background-image:url("pozadina.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 18px;
    border: 1px solid #d7daff;
    padding: 10px;
    margin-bottom: 20px;
    padding: 18px;
    border-radius: 16px
}

.tekst{
    background: rgba(255,255,255,0.70);
    border-radius: 15px;
    padding: 10px;
}

.naglasak{
    color: crimson;
    text-decoration: dotted;
}